<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ASCIIArt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ASCIIArtKeyboards.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>RestNetwork.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Settings.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2C7B8DFA1C4A835E000AEA0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C7B8E031C4A835E000AEA0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2CD784EC1C4A2FDA0082F3A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2CD785001C4A2FDA0082F3A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2CD7850B1C4A2FDA0082F3A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2CD785211C4A300C0082F3A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2CD7853A1C4A42AC0082F3A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2CD785431C4A42AC0082F3A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
